on: [push, pull_request]

name: CI

jobs:
#  test-posix:
#    name: Unix tests
#    strategy:
#      fail-fast: false
#      matrix:
#        os: [ubuntu-latest, macos-latest]
#        node-version: [12.18.4, 12.x, 14.x, 16.x]
#    runs-on: ${{matrix.os}}
#    steps:
#      - uses: actions/checkout@v2
#      - name: Use Node.js ${{ matrix.node-version }}
#        uses: actions/setup-node@v2
#        with:
#          check-latest: true
#          node-version: ${{ matrix.node-version }}
#      - name: Install npm@8.x
#        run: npm install -g npm@8.x
#      - name: Install Dependencies
#        run: npm install
#      - name: Test
#        run: npm test

  test-windows:
    name: Windows tests
    strategy:
      fail-fast: true
      matrix:
        node-version: [14.x, 16.x, 18.x]
        shard: [1, 2, 3]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install Node.js build deps
        run: choco install nasm
      - name: Set up developer command prompt
        uses: ilammy/msvc-dev-cmd@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          check-latest: true
          node-version: ${{ matrix.node-version }}
      - name: Install npm@8.x
        run: npm install -g npm@8.x
      - name: Install Dependencies
        run: npm install
      - name: Sharded tests
        run: npm test -- -g "shard ${{ matrix.shard }}"
      - name: Unsharded tests
        run: npm test -- -g "shard [1-3]" -i
