on: [pull_request]

name: CI

defaults:
  run:
    shell: bash

jobs:
  test-posix:
    name: Unix tests
    timeout-minutes: 480 # 8h
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node-version: [20.x, 22.x, 24.x]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          check-latest: true
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm install
      - name: Test
        run: npm test

  test-windows:
    name: Windows tests
    timeout-minutes: 480 # 8h
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        node-version: [20.x, 22.x, 24.x]
        vs-version: ['17'] # 17 => VS2022
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          check-latest: true
          node-version: ${{ matrix.node-version }}
      - uses: microsoft/setup-msbuild@v2
        name: Setup MSBuild
        with:
          vs-version: ${{ matrix.vs-version }}
          msbuild-architecture: x64
      - name: Install Dependencies
        run: npm install
      - name: Test
        run: npm test
        
