on: [pull_request]

name: CI

defaults:
  run:
    shell: bash

jobs:
  test-posix:
    name: Unix tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node-version: [20.x, 22.x, 24.x]
        test-to-run:
          - "works in a simple case"
          - "works with a Nan addon"
          - "works with a N-API addon"
          - "passes through env vars and runs the pre-compile hook"
          - "works with code caching support"
          - "works with snapshot support"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          check-latest: true
          cache: npm
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test-ci -- -g "${{ matrix.test-to-run }}"

  test-windows:
    name: Windows tests
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        node-version: [20.x, 22.x, 24.x]
        vs-version: ['17'] # 17 => VS2022
        test-to-run:
          - "works in a simple case"
          - "works with a Nan addon"
          - "works with a N-API addon"
          - "passes through env vars and runs the pre-compile hook"
          - "works with code caching support"
          - "works with snapshot support"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          check-latest: true
          cache: npm
          node-version: ${{ matrix.node-version }}
      - uses: microsoft/setup-msbuild@v2
        name: Setup MSBuild
        with:
          vs-version: ${{ matrix.vs-version }}
          msbuild-architecture: x64
      - name: Install Dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test-ci -- -g "${{ matrix.test-to-run }}"
        env:
          BOXEDNODE_MAKE_ARGS: "debug"
        
